body{
    background-color: #900C3F;
}

.container {
    max-width: 400px;
    margin: 165px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #b6dbec;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form input[type="number"] {
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

button:hover {
    background-color: #900C3F;
}